.correct-wrapper{
	// display: flex;
	text-align: center;

	.correct-wrapper-form{
		// text-align: center;
		display: inline-block;
		// margin: auto 0;

		.correct-error{
			color: rgb(243, 52, 52);
			font-size: 14px;
			text-align: center;
		}
	}
}