.registr-form {
	border: 3px solid #f1f1f1;
	max-width: 400px;
	margin: 0 auto 15px auto;

	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
	}

	img.avatar {
		width: 40%;
		border-radius: 50%;
	}

	.sub-btn {
		background-color: rgb(243, 52, 52);
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		font-size: 20px;
	}

	button:hover {
		opacity: 0.8;
	}

	.cancelbtn {
		width: auto;
		padding: 10px 18px;
		background-color: rgb(243, 52, 52);
	}

	.container {
		padding: 16px;

		label {
			font-size: 24px;
		}

		.registration-input {
			width: 100%;
			padding: 12px 20px;
			margin: 15px 0 0 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;

			&.disabled {
				opacity: 0.6;
			}
		}

		.login-error,
		.psw-error {
			color: rgb(243, 52, 52);
			font-size: 14px;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.form-or {
		text-align: center;
	}
}

@media screen and (max-width: 300px) {
	.cancelbtn {
		width: 100%;
	}
}

.registration-btn {
	margin: 0 auto;
	display: block;
	background-color: rgb(85, 101, 240);
	border: none;
	outline: none;
	padding: 10px;

	&:hover {
		opacity: 0.8;
	}

	span {
		color: white;
	}
}
