.nav-top-line {
	background-color: rgb(219, 76, 76);
	height: 70px;
	padding-left: 60px;

	.nav-top-line-text {
		margin-left: 30px;
		color: white;
		font-size: 30px;
		display: inline-block;
		font-style: italic;
		margin-top: 20px;
		vertical-align: top;
	}

	.fa-list-alt {
		font-size: 70px;
		color: white;
	}
}

.registr-form {
	border: 3px solid #f1f1f1;
	max-width: 400px;
	margin: 0 auto 0 auto;

	button:hover {
		opacity: 0.8;
	}

	.container {
		padding: 16px;

		label {
			font-size: 24px;
		}
	
		.registration-input {
			width: 100%;
			padding: 12px 20px;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;

			&.disabled,
			.registration-input-disabled {
				opacity: 0.6;
			}

			.registration-input-disabled {
				color: gray;
			}
		}

		.login-error,
		.psw-error,
		.selectRoleError {
			color: rgb(243, 52, 52);
			font-size: 14px;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.form-or {
		text-align: center;
	}
}

@media screen and (max-width: 300px) {
	.cancelbtn {
		width: 100%;
	}
}

.registration-btn {
	text-align: center;

	&:hover {
		text-decoration: underline rgb(85, 101, 240);
	}

	span {
		color: rgb(85, 101, 240);
		font-weight: 600;
		font-size: 16px;
	}
}
