.tasks-wrapper{	
	text-align: center;

	.tasks-list{
		list-style-type: none;
		text-align: center;
	}
	.correct-btn{
		background-color: rgb(85, 101, 240);
		color: #fff;
		display: inline;
		border: none;
		padding: 5px;
		border-radius: 3px;
		font-size: 14px;
		}
}

